.sheet-body {
    padding: 10px;
    margin: 0 5px;
    overflow: auto;

    .stat-row {
        display: flex;
        flex-wrap: nowrap;
        padding: 0 3px;
    }

    .wide-section {
        margin: 5px;
        background-color: @blueRose;
        display: flex;
        flex-direction: column;
        padding: 3px;

        h3 {
            color: white;
            text-align: center;
            margin: 0;
        }

        ol {
            background: white;
            min-height: 30px;
            margin: 0;
        }
        .editor {
            padding: 4px;
            flex-grow: 1;
            flex-basis: 40px;
            flex-shrink: 0;
            background: white;

            .tox {
                height: 400px !important;
            }
        }

        .entry {
            display: flex;
            flex-flow: row nowrap;
            background: white;
            align-items: baseline;
            padding: 2px;

            label {
                padding: 0 4px;
                flex-basis: content;
                color: @blueRose;
            }
        }
    }

    .item-list {
        list-style: none;
        margin: 7px 0;
        padding: 0;
        overflow-y: auto;

        .item {
            height: 30px;
            line-height: 24px;
            padding: 3px;
            display: flex;
            flex-flow: row nowrap;
            border-bottom: 1px solid #bbb;

            img {
                flex: 0 0 24px;
                margin-right: 5px;
            }
        }

        .item-name {
            margin: 0;
            flex-grow: 1;
        }
    }
}
