.sheet-header {
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 58px 42px;
    grid-template-areas:
        "profile name"
        "profile sub";

    .profile-img {
        height: 100%;
        width: 100%;
        grid-area: profile;
        border: 2px black solid;
    }

    .name {
        grid-area: name;
    }

    .sub-header {
        grid-area: sub;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
}
