/* ------------------------------------ */
/*				   Less					*/
/* This is your Less entry file			*/
/* ------------------------------------ */

@blueRose: #0b77ba;
@paleBlueRose: #85bbdc;

.blue-rose {
    .window-content {
        height: 100%;
        padding: 5px;
        overflow-y: hidden;
        background-image: url("./assets/sheet-background.png");
    }

    @import "./styles/sheet-header.less";
    @import "./styles/sheet-tabs.less";
    @import "./styles/sheet-body.less";

    label {
        padding: 0;
        color: white;
    }

    .prop {
        background-color: @blueRose;
        text-align: center;
        margin: 2px !important;
        padding: 3px;
        flex-grow: 1;
        flex-basis: 0%;

        input {
            height: 22px;
            width: 100%;
            border: none;
            border-radius: 0;
            background-color: white;
            margin: 0;
        }
        select {
            height: 22px;
            width: 100%;
            border: none;
            border-radius: 0;
            background-color: white;
            margin: 0;
        }
        label {
            margin: 0 auto;
            padding: 0;
            font-size: x-small;
            display: block;
        }
    }

    .check-prop {
        background-color: @blueRose;
        margin: 2px !important;
        padding: 5px;
        display: flex;
        flex-flow: row nowrap;
        flex-shrink: 1;
        justify-items: center;

        label {
            padding-top: 4px;
        }
    }

    .prop.wide {
        flex-grow: 2;
    }

    .resource {
        display: flex;
        flex-wrap: nowrap;
        input {
            flex-shrink: 1;
        }
        span {
            padding: 0 4px;
        }
    }

    h1.prop {
        border: none;

        input {
            height: 28px;
            margin: 0;
        }
        label {
            font-size: medium;
        }
    }

    .rollable.small-die {
        font-size: small;
        color: black;
    }
    .rollable.big-die {
        font-size: x-large;
        float: right;
        color: white;
    }
}

.blue-rose.sheet.actor {
    min-width: 560px;
    min-height: 420px;
}
.blue-rose.sheet.item {
    min-width: 460px;
    min-height: 400px;
}

@import "./styles/player-character.less";
@import "./styles/dice-roll.less";
